.App {
  display: grid;
  grid-template-rows: 0.75fr 2fr 2fr 0.25fr;
  height: 100vh;
  min-height: 710px;
  text-align: center;
  background: rgb(64, 51, 103);
  background: radial-gradient(
    circle,
    rgba(64, 51, 103, 1) 0%,
    rgba(40, 42, 68, 1) 100%
  );
  color: rgb(235, 235, 235);
}

.app-logo {
  color: rgb(235, 235, 235);
  margin: 2rem 0 0 2rem;
}

.sub-header {
  color: rgb(235, 235, 235);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
